/* 
.shadow {z-index-1}
.benefits-img{z-index-2}
.backdrop {z-index-99} 
.backdrop-menu {z-index-99} 
*/

.hidden {
  display: none;
}

/* ===== general style===== */
body {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  font-size: 16px;
  background-color: #fefefe;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  cursor: grabbing;
}

.svg {
  display: block;
}

button {
  padding: 0;
  line-height: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.logo-img,
.logo-img-footr {
  cursor: pointer;
}

input::placeholder {
  font-weight: 400;
  color: #505050;
}

.box-position-relarive {
  position: relative;
}

.container {
  max-width: 300px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 704px) {
  .container {
    max-width: 704px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
}

@media screen and (min-width: 704px) {
}

@media screen and (min-width: 1280px) {
}

/* ===== /general style===== */

/* ===== header style===== */

.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 10px 0;
}

.nav-list {
  display: none;
}

.main-button {
  display: none;
}

.mobile-menu-btn {
  fill: #7eb101;
}

@media screen and (min-width: 704px) {
  .mobile-menu-btn {
    display: none;
  }

  .logo {
    margin-right: auto;
  }

  .navigation {
    margin-right: 30px;
  }

  .nav-list {
    display: flex;
    gap: 28px;
  }

  .nav-list-item {
    display: block;
    padding: 28px 0;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    transition: color 250ms ease-in, font-weight 250ms ease-in;
  }

  .nav-list-item:hover,
  .nav-list-item:focus {
    font-weight: 500;
    text-decoration: underline;
    color: #bbf330;
  }

  .main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    min-width: 98px;
    height: 32px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    background-color: #bbf330;
    transition: background-color 250ms ease-in;
  }

  .main-button:hover,
  .main-button:focus {
    background-color: #ffe450;
  }
}

@media screen and (min-width: 1280px) {
  .nav-list-item {
    color: #2c2c2c;
  }
}

/* ===== /header style===== */

/* ===== Hero style===== */

.section:nth-child(1) {
  padding-top: 60px;
}

.main-title {
  margin-bottom: 28px;
  font-size: 28px;
}

.hero-text {
  width: 266px;
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 32px;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 98px;
  height: 32px;
  font-size: 13px;
  line-height: 1.5;
  background-color: #bbf330;
  transition: background-color 250ms ease-in;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #ffe450;
}

.slider-hero {
  display: none;
}

@media screen and (min-width: 704px) {
  .section:nth-child(1) .container {
    display: flex;
    position: relative;
  }

  .wrap-hero {
    display: flex;
    flex-wrap: wrap;
  }

  .main-title {
    font-size: 42px;
    line-height: 1.2;
    width: 537px;
    margin-bottom: 0;
  }

  .hero-text {
    width: 336px;
    font-size: 16px;
    margin-bottom: 40px;
    margin-top: 44px;
  }

  .inner-hero-wrapp {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
  }

  /* .slick-prev,
  .slick-next {
    display: none !important;
  } */

  .slider-hero {
    position: absolute;
    top: 89px;
    right: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 320px;
    height: 320px;
    border-radius: 100%;
    border: 14px solid #ffe550;
    transition: border-color 250ms ease-in;
  }

  .slider-hero:hover {
    border-color: #bbf330;
  }

  .left-arrow-btn {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    width: 28px;
    height: 34px;
    fill: #2c2c2c;
  }

  .rigth-arrow-btn {
    position: absolute;
    top: 49%;
    right: -20px;
    transform: translateY(-49%);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    width: 28px;
    height: 34px;
    fill: #2c2c2c;
  }
}

@media screen and (min-width: 1280px) {
  .section:nth-child(1) {
    padding: 14px 14px 69px 0;
  }

  .section:nth-child(1) .container {
    align-items: center;
    gap: 143px;
  }

  .slider-hero {
    position: relative;
    top: 0;
    right: 0;
    width: 580px;
    height: 580px;
    border: 26px solid #ffe550;
  }

  .left-arrow-btn {
    width: 38px;
    height: 44px;
  }

  .rigth-arrow-btn {
    width: 38px;
    height: 44px;
  }

  .main-title {
    font-size: 48px;
  }

  .hero-text {
    width: 511px;
    margin-top: 28px;
  }

  .inner-hero-wrapp-text {
    width: 511px;
  }
}

/* ===== /Hero style===== */

/* ===== Вenefits style===== */

.section:nth-child(2) {
  padding: 91px 20px;
}

.benefits-img-wrapp {
  margin-bottom: 72px;
  border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.img-wrapp {
  border-radius: 100%;
  background-color: #fefefe;
  margin: 12px;
  width: 255px;
  height: 255px;
  position: relative;
}

.benefits-img {
  position: absolute;
  z-index: 2;
  top: -41px;
  left: 30px;
  width: 201px;
  height: 256px;
}

.shadow {
  position: absolute;
  z-index: 1;
  background: radial-gradient(
    circle,
    rgba(47, 88, 63, 0.5) 0%,
    rgba(105, 105, 105, 0.5) 100%
  );
  border-radius: 100%;
  filter: blur(13px);
  left: 67px;
  bottom: 26px;
  width: 128px;
  height: 44px;
}

.benefits-title {
  font-size: 28px;
  margin-bottom: 28px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 28px;
  width: 280px;
}

.list-fact {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 28px;
}

.wrap-icon-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #7eb101;
  border-radius: 100%;
  background-color: #fefefe;
  width: 48px;
  height: 48px;
}

.fact-subtitle {
  font-size: 18px;
  margin-bottom: 16px;
}

.subtext-rocket-width {
  width: 280px;
}

.fact-subtext {
  font-size: 14px;
  line-height: 1.5;
  width: 280px;
}

.subtext-touch-width {
  width: 280px;
}

.benefits-btn {
  border: 2px solid #7eb101;
  background-color: #fff;
  border-radius: 30px;
  min-width: 106px;
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  margin-right: 24px;
}

.benefits-btn-more {
  min-width: 83px;
  height: 34px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  fill: #000;
}

@media screen and (min-width: 704px) {
  .section:nth-child(2) {
    padding: 79px 116px 191px 32px;
  }

  .benefits-img-wrapp {
    margin-bottom: 60px;
  }

  .img-wrapp {
    margin: 16px;
    width: 325px;
    height: 325px;
  }

  .benefits-img {
    width: 257px;
    height: 326px;
    top: -53px;
    left: 38px;
  }

  .shadow {
    filter: blur(17px);
    width: 163px;
    height: 56px;
    left: 85px;
    bottom: 33px;
  }

  .benefits-title {
    font-size: 42px;
    margin-bottom: 20px;
    width: 526px;
  }

  .benefits-text {
    font-size: 16px;
    margin-bottom: 25px;
    width: 500px;
  }

  .list-fact {
    display: flex;
    flex-direction: row;
    row-gap: 0;
    column-gap: 80px;
    margin-bottom: 20px;
  }

  .wrap-icon-benefits {
    margin-bottom: 8px;
  }

  .fact-subtitle {
    margin-bottom: 16px;
  }

  .subtext-rocket-width {
    width: 288px;
  }

  .subtext-touch-width {
    width: 252px;
  }
}

@media screen and (min-width: 1280px) {
  .section:nth-child(2) {
    padding: 107px 51px 124px 16px;
    background-color: #ffe550;
  }

  .section:nth-child(2) .container {
    display: flex;
    justify-content: space-between;
  }

  .benefits-btn-more {
    display: none;
  }

  .benefits-img-wrapp {
    border-radius: 100%;
    border: 5px solid rgba(255, 255, 255, 0.5);
  }

  .img-wrapp {
    width: 502px;
    height: 502px;
    margin: 24px;
  }

  .benefits-img {
    left: 60px;
    bottom: 78px;
    width: 396px;
    height: 502px;
  }

  .shadow {
    filter: blur(26px);
    width: 252px;
    height: 87px;
    left: 131px;
    bottom: 51px;
  }

  .benefits-title {
    line-height: 1.2;
  }

  .benefits-text {
    margin-bottom: 40px;
  }

  .wrap-icon-benefits {
    background-color: #fefefe;
  }

  .list-fact {
    margin-bottom: 32px;
  }

  .fact-subtitle {
    line-height: 1.4;
  }

  .subtext-rocket-width {
    width: 253px;
  }

  .subtext-touch-width {
    width: 253px;
  }
}

/* ===== /Вenefits style===== */

/*===== mobile menu style ===== */

.backdrop-menu {
  position: fixed;
  z-index: 99;
  top: -100%;
  right: -100%;
  width: 170px;
  min-height: 311px;
  background-color: transparent;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms ease-in, visibility 250ms ease-in,
    right 250ms ease-in, top 250ms ease-in;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  top: 0;
  right: 0;
}

.modal-menu {
  position: relative;
  top: 0;
  right: 0;
  width: 170px;
  min-height: 311px;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  border-radius: 3px;
  background-color: #bbf330;
}

.menu-close-btn {
  position: absolute;
  top: 7px;
  right: 9px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
}

.mobile-menu-list {
  padding-top: 16px;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.menu-list-item.active {
  font-weight: 700;
  font-size: 16px;
  color: #2c2c2c;
}

.menu-list-item {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

/*===== /mobile menu style ===== */
